{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% load account %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Password Reset" %}
    {% endelement %}
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p>
        {% blocktrans %}Te hemos enviado un correo electrónico. Si no lo has recibido por favor revisa tu carpeta de spam. De lo contrario contáctanos si no lo recibes en unos minutos.{% endblocktrans %}
    </p>
{% endblock content %}
