{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Verifique su  dirección de correo electrónico " %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Verifique su  dirección de correo electrónico " %}
    {% endelement %}
    <p>
        {% blocktrans %}Le hemos enviado un correo electrónico para su verificación. Siga el enlace proporcionado para finalizar el proceso de registro. Si no ve el correo electrónico de verificación en su bandeja de entrada principal, revise su carpeta de correo no deseado. Please contact us if you do not receive the verification email within a few minutes.{% endblocktrans %}
    </p>
{% endblock content %}
